---

spring:
  profiles: dev
  datasource:
    url: jdbc:mysql://financialmanagerappdb.clv5ddoxgqpk.us-east-1.rds.amazonaws.com:3306/ebdb
    username: boot
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
server:
  port: 5000


---

spring:
  profiles: local
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
