<div>
    <div class="row">
        <div class="col=sm">
            Select Account:
            <select [(ngModel)]="currentAccountTo" (ngModelChange)="setCurrentAccountTo(currentAccountTo)">
                <option *ngFor="let acc of accounts" [ngValue]="acc">
                    {{acc.id}}, ${{acc.balance}}
                </option>
            </select>
        </div>
    </div>

    <p>
        <input type="text" name="value" placeholder="enter amount" id='amount'/>
        <input (click)="depositFunds()" type="button" value='Make_Deposit'/>
    </p>
</div>
