@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
.display{
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity: .8 !important; */
    background-color: darkgray;
}
.navbar {
    /* background-color: #6c9fe3; */
    background-image: "https://media.gettyimages.com/photos/brown-wood-texture-panel-horizontal-stripe-picture-id1153037009?s=612x612" !important;
  }
  .navbar .navbar-brand {
    color: #f8fbfb;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #366db6;
  }
  .navbar .navbar-text {
    color: #f8fbfb;
  }
  .navbar .navbar-text a {
    color: #366db6;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #366db6; 
  }
  .navbar .navbar-nav .nav-link {
    color: #f8fbfb;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #366db6;
  }
  .navbar .navbar-nav .nav-item.active .btn-primary,
  .navbar .navbar-nav .nav-item.active .btn-primary:hover,
  .navbar .navbar-nav .nav-item.active .btn-primary:focus,
  .navbar .navbar-nav .nav-item.show .btn-primary,
  .navbar .navbar-nav .nav-item.show .btn-primary:hover,
  .navbar .navbar-nav .nav-item.show .btn-primary:focus {
    color: #779bc9;
    background-color: #bfd4f0;
  }
  .navbar .navbar-toggle {
    border-color: #4878b8;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #4878b8;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #f8fbfb;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #f8fbfb;
  }
  .navbar .navbar-link {
    color: #f8fbfb;
  }
  .navbar .navbar-link:hover {
    color: #366db6;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #f8fbfb;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #366db6;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #366db6;
      background-color: #4878b8;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #f8fbfb;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #366db6;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #366db6;
      background-color: #4878b8;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #f8fbfb;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #366db6;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #366db6;
      background-color: #4878b8;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #f8fbfb;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #366db6;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #366db6;
      background-color: #4878b8;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f8fbfb;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #366db6;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #366db6;
    background-color: #4878b8;
  }

  .navbar .navbar-brand {
    padding-top: 5px;
    width: 220px;
    font-family: 'Heebo', sans-serif;
    font-size: 40px;
    font-optical-sizing: 30px;

  }
  .navbar .navbar-brand img {
    height: 40px;
    
  }

  /* .navbar-brand{
    height: 45px;
    -webkit-text-fill-color: lightgray;
    -webkit-text-stroke: .2px;
    
    background-position-y: 60px;
} */
/* .navbar-dark{
    background-color: #014fa2 !important;
}

.nav-item{
    margin-left:10px;
    -webkit-text-fill-color: lightgray;
    } */
/* div.display{
    
} */

/* body {
    background:#c33;
    width: 200px;
    align-content: center;
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;
} */