@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.display{
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity: .8 !important; */
    background-color: darkgray;
}
.navbar-dark{
    background-color: #014fa2 !important;
}
.navbar-brand{
    -webkit-text-fill-color: lightgray;
    -webkit-text-stroke: .2px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px
    
}
.nav-item{
    margin-left:10px;
    -webkit-text-fill-color: lightgray;
    }
/* div.display{
    
} */

/* body {
    background:#c33;
    width: 200px;
    align-content: center;
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;
} */